<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Play Kalah Online</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <h2>Your Game</h2>


        </div>

    </div>
</div>

<div th:replace="fragments/js-scripts :: js-scripts"></div>
<script>
    $(document).ready(function () {

        // DO STUFF

    });



</script>
</body>

</html>