<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body class="index-page">

<nav th:replace="fragments/nav :: nav"></nav>

<div class="wrapper">

    <div class="section">

        <img src="/assets/img/dots.png" class="dots">
        <img src="/assets/img/path4.png" class="path">

        <div class="container align-items-center">

            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
            </div>

            <h3 class="title mb-3">GAME &nbsp; - &nbsp; <span th:text="${game.name}">My Game XYZ</span></h3>

            <div class="row">
                <div class="col">
                    <p class="text-danger">
                        YOU ARE <span th:text="${game.playerDesignation}">PLAYER ONE</span>
                    </p>
                </div>
                <div class="col text-right">
                    <p class="text-info">
                        <span id="game-status-description" th:text="${game.statusDescription}">PLAYER ONE'S TURN</span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12 col-md-4 offset-md-4">
                    <div class="player playerTwo">
                        PLAYER TWO
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-2">
                    <div id="pit13" class="pit playerTwo">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit12" class="pit playerTwo">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit11" class="pit playerTwo">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit10" class="pit playerTwo">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit9" class="pit playerTwo">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit8" class="pit playerTwo">
                        4
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-2">
                    <div id="pit14" class="kalah playerTwo">
                        0
                    </div>
                </div>

                <div class="col-8">

                </div>

                <div class="col-2">
                    <div id="pit7" class="kalah playerOne">
                        0
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-2">
                    <div id="pit1" class="pit playerOne">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit2" class="pit playerOne">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit3" class="pit playerOne">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit4" class="pit playerOne">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit5" class="pit playerOne">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit6" class="pit playerOne">
                        4
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-4 offset-md-4">
                    <div class="player playerOne">
                        PLAYER ONE
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<div th:replace="fragments/js-scripts :: js-scripts"></div>
<script>

    var playerDesignation = "[[${game.playerDesignation}]]";
    var gameId = "[[${game.id}]]";
    var playerId = "[[${game.playerId}]]";
    var gameStatus = "[[${game.status}]]";
    var gameState = [(${gameState})];

    $(document).ready(function () {
        connectToSocket();
        refreshStones(gameState);
        enableMoves();
        toggleSelectable();

    });

    function canMove() {
        if ("PLAYER_ONE_TURN" === gameStatus && "PLAYER ONE" === playerDesignation) {
            return true;
        } else if ("PLAYER_TWO_TURN" === gameStatus && "PLAYER TWO" === playerDesignation) {
            return true;
        } else {
            return false;
        }
    }

    function toggleSelectable() {
        let start = playerDesignation === "PLAYER ONE" ? 1 : 8;
        let max = playerDesignation === "PLAYER ONE" ? 7 : 14;
        for (let i = start; i < max; i++) {
            let selector = "#pit" + i;
            let pit = $(selector);
            if (canMove() && notEmptyPit(i)) {
                pit.removeClass("selectable");
                pit.addClass("selectable");
            } else {
                pit.removeClass("selectable");
            }
        }
    }

    function enableMoves() {
        let start = playerDesignation === "PLAYER ONE" ? 1 : 8;
        let max = playerDesignation === "PLAYER ONE" ? 7 : 14;
        for (let i = start; i < max; i++) {
            let selector = "#pit" + i;
            $(selector).click(
                function () {
                    makeMove(i);
                }
            );
        }
    }

    function refreshStones() {

        let pitsToUpdate = [];

        for (let i = 1; i < 15; i++) {
            let selector = "#pit" + i;
            let value = gameState[i].toString();
            let pit = $(selector);
            let currentValue = pit.html();
            if (currentValue !== value) {
                let updatePit = {pit: pit, value: value};
                pitsToUpdate.push(updatePit);
            }
        }

        for (let i = 0; i < pitsToUpdate.length; i++) {
            let pit = pitsToUpdate[i].pit;
            let value = pitsToUpdate[i].value;
            let delay = (i-1) * 100;
            setTimeout(function () {
                pit.addClass("updateEffect");
                setTimeout(function () {
                    pit.html(value);
                }, 500);
                setTimeout(function () {
                    pit.removeClass("updateEffect");
                }, 1000);
            }, delay);
        }

    }

    function refreshGameStatus(gameStatusDescription) {
        let statusLabel = $("#game-status-description");
        statusLabel.addClass("updateEffect");
        setTimeout(function () {
            statusLabel.html(gameStatusDescription);
        }, 500);
        setTimeout(function () {
            statusLabel.removeClass("updateEffect");
        }, 1000);

    }

    function notEmptyPit(pitNumber) {
        let pitStoneCount = gameState[pitNumber]
        return pitStoneCount!==0;
    }

    function makeMove(pitNumber) {
        if (canMove() && notEmptyPit(pitNumber)) {
            let putUrl = "/api/game";
            let gameMove = {"gameId": gameId, "playerId": playerId, "pitNumber": pitNumber};
            $.ajax(putUrl, {
                    type: 'PUT',
                    data: JSON.stringify(gameMove),
                    contentType: "application/json;charset=utf-8"
                }
            ).fail(function (data) {
                alert("The game has experienced an unexpected error. Press Ok to reload the game.");
                location.href = "/game/" + gameId + "/player/" + playerId;
            });
        }
    }

    function connectToSocket() {
        let topicPath = "/topic/game/" + gameId;
        let socket = new SockJS('/kalah-websocket');
        let stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            stompClient.subscribe(topicPath, function (gameMessage) {
                let game = JSON.parse(gameMessage.body);
                gameStatus = game.status;
                gameState = game.state;
                refreshStones();
                refreshGameStatus(game.statusDescription);
                toggleSelectable();
            });
        });
    }

</script>
</body>

</html>