<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body class="index-page">

<nav th:replace="fragments/nav :: nav"></nav>

<div class="wrapper">

    <div class="section">

        <img src="/assets/img/dots.png" class="dots">
        <img src="/assets/img/path4.png" class="path">

        <div class="container align-items-center">

            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
            </div>

            <h3 class="title mb-3">GAME &nbsp; - &nbsp; <span th:text="${game.name}">My Game XYZ</span></h3>

            <div class="row">
                <div class="col">
                    <p class="text-danger">
                        YOU ARE <span th:text="${game.playerDesignation}">PLAYER ONE</span>
                    </p>
                </div>
                <div class="col text-right">
                    <p class="text-info">
                        <span id="game-status-description" th:text="${game.statusDescription}">PLAYER ONE'S TURN</span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12 col-md-4 offset-md-4">
                    <div class="player playerTwo">
                        PLAYER TWO
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-2">
                    <div id="pit13" class="pit selectable playerTwo">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit12" class="pit selectable playerTwo">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit11" class="pit selectable playerTwo">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit10" class="pit selectable playerTwo">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit9" class="pit selectable playerTwo">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit8" class="pit selectable playerTwo">
                        4
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-2">
                    <div id="pit14" class="kalah playerTwo">
                        K
                    </div>
                </div>

                <div class="col-8">

                </div>

                <div class="col-2">
                    <div id="pit7" class="kalah playerOne">
                        K
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-2">
                    <div id="pit1" class="pit selectable playerOne">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit2" class="pit selectable playerOne">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit3" class="pit selectable playerOne">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit4" class="pit selectable playerOne">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit5" class="pit selectable playerOne">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit6" class="pit selectable playerOne">
                        4
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-4 offset-md-4">
                    <div class="player playerOne">
                        PLAYER ONE
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<div th:replace="fragments/js-scripts :: js-scripts"></div>
<script>

    var playerDesignation = "[[${game.playerDesignation}]]";
    var gameId = "[[${game.id}]]";
    var playerId = "[[${game.playerId}]]";
    let gameStatus = "[[${game.status}]]";

    $(document).ready(function () {
        let gameState = [(${gameState})];
        connectToSocket();
        refreshStones(gameState);
        enableMoves();

    });

    function canMove() {
        if("PLAYER_ONE_TURN"===gameStatus && "PLAYER ONE"===playerDesignation) {
            return true;
        } else if("PLAYER_TWO_TURN"===gameStatus && "PLAYER TWO"===playerDesignation) {
            return true;
        } else {
            return false;
        }
    }

    function enableMoves() {
        let start = playerDesignation==="PLAYER ONE" ? 1 : 8;
        let max = playerDesignation==="PLAYER ONE" ? 7 : 14;
        for (let i = start; i < max; i++) {
            let selector = "#pit" + i;
            $(selector).click(
                function () {
                    makeMove(i);
                }
            );
        }
    }

    function refreshStones(gameState) {
        for (let i = 1; i < 15; i++) {
            let selector = "#pit" + i;
            let key = i.toString();
            let value = gameState[key];
            $(selector).html(value);
        }
    }

    function refreshGameStatus(gameStatusDescription) {
        $("#game-status-description").html(gameStatusDescription);
    }

    function makeMove(pitNumber) {
        if(canMove()) {
            let putUrl = "/api/game";
            let gameMove = {"gameId": gameId, "playerId": playerId, "pitNumber": pitNumber};
            $.ajax(putUrl, {
                    type: 'PUT',
                    data: JSON.stringify(gameMove),
                    contentType: "application/json;charset=utf-8"
                }
            ).fail(function (data) {
                alert("The game has experienced an unexpected error. Press Ok to reload the game.");
                location.href = "/game/" + gameId + "/player/" + playerId;
            });
        }
    }

    function connectToSocket() {
        let topicPath = "/topic/game/" + gameId;
        let socket = new SockJS('/kalah-websocket');
        let stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            stompClient.subscribe(topicPath, function (gameMessage) {
                let game = JSON.parse(gameMessage.body);
                refreshStones(game.state);
                refreshGameStatus(game.statusDescription);
                gameStatus = game.status;
            });
        });
    }

</script>
</body>

</html>