<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body class="index-page">

<nav th:replace="fragments/nav :: nav"></nav>

<div class="wrapper">

    <div class="section">

        <img src="./assets/img/dots.png" class="dots">
        <img src="./assets/img/path4.png" class="path">

        <div class="container align-items-center">

            <h3 class="title mb-3">Instructions</h3>

            <div class="row">
                <div class="col-12">
                    <blockquote>
                        <p class="blockquote blockquote-primary">
                            The aim of the game is to collect as many stones in your Kalah (K) as possible.
                            <br><br>
                            Each player has 6 pits and one Kalah. The pits are numbered on the game board below.
                            <br><br>
                            In the real game, the number in the pit will indicate how many stones are in the pit.
                            The game starts with 4 stones in each pit.
                            <br><br>
                            When it is your turn, select one of your pits that contains at least one stone.
                            <br><br>
                            The computer will distibute the stones from the selected pit, in a counter-clockwise
                            direction.
                            One stone will be placed in each pit or in your own Kalah. No stone will be placed in your
                            opponents Kalah.
                            <br><br>
                            If the last stone lands in your Kalah, you may have another turn.
                            <br><br>
                            If the last stone lands in your pit and the pit is empty, that stone and
                            the stones in your opponents opposite pit are moved into your Kalah.
                            <br><br>
                            The game is over when one player has no stones left in their pits.
                            All stones are moved from each players' pits into their Kalah.
                            The player with the most stones in their Kalah WINS.
                        </p>
                    </blockquote>

                    <blockquote>
                        <p class="blockquote blockquote-primary">
                            The player who creates the game is PLAYER ONE.
                            <br><br>
                            The player who joins the game is PLAYER TWO.
                            <br><br>
                            You cannot rejoin a game, once it is in play, if you naviagte away from the game screen.
                        </p>
                    </blockquote>
                </div>
            </div>


        </div>

    </div>


    <div class="section">

        <img src="./assets/img/dots.png" class="dots">
        <img src="./assets/img/path4.png" class="path">

        <div class="container align-items-center">

            <div class="row">
                <div class="col-sm-12 col-md-4 offset-md-4">
                    <div class="player playerTwo">
                        PLAYER TWO
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-2">
                    <div id="pit13" class="pit selectable playerTwo">
                        6
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit12" class="pit selectable playerTwo">
                        5
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit11" class="pit selectable playerTwo">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit10" class="pit selectable playerTwo">
                        3
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit9" class="pit selectable playerTwo">
                        2
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit8" class="pit selectable playerTwo">
                        1
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-2">
                    <div id="pit14" class="kalah playerTwo">
                        K
                    </div>
                </div>

                <div class="col-8">

                </div>

                <div class="col-2">
                    <div id="pit7" class="kalah playerOne">
                        K
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-2">
                    <div id="pit1" class="pit selectable playerOne">
                        1
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit2" class="pit selectable playerOne">
                        2
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit3" class="pit selectable playerOne">
                        3
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit4" class="pit selectable playerOne">
                        4
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit5" class="pit selectable playerOne">
                        5
                    </div>
                </div>
                <div class="col-2">
                    <div id="pit6" class="pit selectable playerOne">
                        6
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-4 offset-md-4">
                    <div class="player playerOne">
                        PLAYER ONE
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<div th:replace="fragments/js-scripts :: js-scripts"></div>
<script>
    $(document).ready(function () {

        // DO STUFF

    });
</script>
</body>

</html>