<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body class="index-page">

<nav th:replace="fragments/nav :: nav"></nav>

<div class="wrapper">


    <div class="page-header header-filter">
        <div class="squares square1"></div>
        <div class="squares square2"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square6"></div>
        <div class="squares square7"></div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo">KALAH</h1>
                <h3>Play Kalah online. No sign up. Quick and easy games.</h3>
            </div>
        </div>
    </div>


    <div class="section">
        <img src="/assets/img/dots.png" class="dots">
        <img src="/assets/img/path4.png" class="path">
        <div class="container align-items-center">

            <div class="row">

                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div id="new-game-card" class="card card-coin card-plain">
                        <div class="card-header">
                            <img src="/assets/img/create-game.jpg" class="img-center img-fluid rounded-circle">
                            <h4 class="title">Start A New Game</h4>
                        </div>
                        <div class="card-body">
                            <div class="tab-content tab-subcategories">
                                <div class="tab-pane active">
                                    <form th:object="${createGameRequest}" th:action="@{/create/}" method="post">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Game Name</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'"
                                                           id="gameName"
                                                           placeholder="Game Name"
                                                           maxlength="25"
                                                           th:field="*{name}">
                                                    <div class="invalid-feedback"
                                                         th:each="err : ${#fields.errors('name')}"
                                                         th:text="${err}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-round float-right"
                                                rel="tooltip" data-placement="right">Create Game
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <img src="/assets/img/dots.png" class="dots">
        <img src="/assets/img/path4.png" class="path">
        <div class="container align-items-center">

            <div class="row">

                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img src="/assets/img/james.jpg" class="img-center img-fluid rounded-circle">
                            <h4 class="title">Join A Game</h4>
                        </div>
                        <div class="card-body">
                            <div class="tab-content tab-subcategories">
                                <div class="tab-pane active">
                                    <div class="table-responsive">
                                        <table class="table tablesorter">
                                            <tbody id="pg-table-body">
                                            <tr id="pg-table-empty-row" th:if="${#lists.isEmpty(pendingGames)}">
                                                <td>No pending games found.</td>
                                            </tr>
                                            <tr th:each="pendingGame : ${pendingGames}"
                                                th:id="|pg_${pendingGame.id}_row|">
                                                <td>
                                                    <a th:href="@{|/game/${pendingGame.id}/join|}"
                                                       th:text="${pendingGame.name}">GAME 1</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img src="/assets/img/ryan.jpg" class="img-center img-fluid rounded-circle">
                            <h4 class="title">Watch A Game</h4>
                        </div>
                        <div class="card-body">
                            <div class="tab-content tab-subcategories">
                                <div class="tab-pane active">
                                    <tr class="table-responsive">
                                        <table class="table tablesorter">
                                            <tbody id="ag-table-body">
                                            <tr id="ag-table-empty-row" th:if="${#lists.isEmpty(activeGames)}">
                                                <td>No active games found.</td>
                                            </tr>
                                            <tr th:each="activeGame : ${activeGames}"
                                                th:id="|ag_${activeGame.id}_row|">
                                                <td>
                                                    <a th:href="@{|/game/${activeGame.id}/watch|}"
                                                       th:text="${activeGame.name}">GAME 1</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<div th:replace="fragments/js-scripts :: js-scripts"></div>
<script>
    $(document).ready(function () {

        connectToSocket();

        var scrollToSelector = "[(${scrollToSelector})]";

        if (scrollToSelector) {
            $("html, body").animate({
                scrollTop: $(scrollToSelector).offset().top
            }, 1000);
        }

    });

    function removePendingGame(game) {
        let selector = "#pg_" + game.id + "row";
        let pgRow = $(selector);
        if(pgRow) {
            pgRow.remove();
            toggleEmptyPendingRow();
        }
    }

    function addPendingGame(game) {
        let rowId = "pg_" + game.id + "row";
        let href = "/game/" + game.id + "/join";
        let anchorText = game.name;
        let parentSelector = "#pg-table-body";
        makeGameRow(rowId, href, anchorText, parentSelector);
        toggleEmptyPendingRow();
    }

    function removeActiveGame(game) {
        let selector = "#ag_" + game.id + "row";
        let agRow = $(selector);
        if(agRow) {
            agRow.remove();
            toggleEmptyActiveRow();
        }
    }

    function addActiveGame(game) {
        let rowId = "ag_" + game.id + "row";
        let href = "/game/" + game.id + "/watch";
        let anchorText = game.name;
        let parentSelector = "#ag-table-body";
        makeGameRow(rowId, href, anchorText, parentSelector);
        toggleEmptyActiveRow();
    }

    function makeGameRow(rowId, href, anchorText, parentSelector) {
        let domString = "<tr id='" + rowId + "'><td><a href='" + href + "'>" + anchorText + "</a></td></tr>";
        $(parentSelector).append(domString);
    }

    function toggleEmptyPendingRow() {
        let emptyRow = $("#pg-table-empty-row");
        let tableBody = $("#pg-table-body");
        let rows = tableBody.children();
        if(rows.length===0) {
            let domString = "<tr id='pg-table-empty-row'><td>No pending games found.</td></tr>";
            tableBody.append(domString);
        } else if(rows.length>1 && emptyRow) {
            emptyRow.remove();
        }
    }

    function toggleEmptyActiveRow() {
        let emptyRow = $("#ag-table-empty-row");
        let tableBody = $("#ag-table-body");
        let rows = tableBody.children();
        if(rows.length===0) {
            let domString = "<tr id='ag-table-empty-row'><td>No active games found.</td></tr>";
            tableBody.append(domString);
        } else if(rows.length>1 && emptyRow) {
            emptyRow.remove();
        }
    }

    function connectToSocket() {
        let topicPath = "/topic/landing";
        let socket = new SockJS('/kalah-websocket');
        let stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            stompClient.subscribe(topicPath, function (gameMessage) {
                let msg = JSON.parse(gameMessage.body);
                let game = msg.game;
                switch(msg.updateType) {
                    case "APG":
                        addPendingGame(game);
                        break;
                    case "RPG":
                        removePendingGame(game);
                        break;
                    case "AAG":
                        addActiveGame(game);
                        break;
                    case "RAG":
                        removeActiveGame(game);
                        break;
                    default:
                    alert("Unknown type of game update.");
                }
            });
        });
    }
</script>
</body>

</html>