<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body class="index-page">

<nav th:replace="fragments/nav :: nav"></nav>

<div class="wrapper">


    <div class="page-header header-filter">
        <div class="squares square1"></div>
        <div class="squares square2"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square6"></div>
        <div class="squares square7"></div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo">KALAH</h1>
                <h3>Play Kalah online. No sign up. Quick and easy games.</h3>
            </div>
        </div>
    </div>


    <div class="section">
        <img src="/assets/img/dots.png" class="dots">
        <img src="/assets/img/path4.png" class="path">
        <div class="container align-items-center">

            <div class="row">

                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img src="/assets/img/create-game.jpg" class="img-center img-fluid rounded-circle">
                            <h4 class="title">Start A New Game</h4>
                        </div>
                        <div class="card-body">
                            <div class="tab-content tab-subcategories">
                                <div class="tab-pane active">
                                    <form id="new-game" th:object="${createGameRequest}" th:action="@{/create/}" method="post">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Game Name</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'"
                                                           id="gameName"
                                                           placeholder="Game Name"
                                                           maxlength="25"
                                                           th:field="*{name}">
                                                    <div class="invalid-feedback"
                                                         th:each="err : ${#fields.errors('name')}"
                                                         th:text="${err}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-round float-right"
                                                rel="tooltip" data-placement="right">Create Game
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <img src="/assets/img/dots.png" class="dots">
        <img src="/assets/img/path4.png" class="path">
        <div class="container align-items-center">

            <div class="row">

                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img src="/assets/img/james.jpg" class="img-center img-fluid rounded-circle">
                            <h4 class="title">Join A Game</h4>
                        </div>
                        <div class="card-body">
                            <div class="tab-content tab-subcategories">
                                <div class="tab-pane active">
                                    <div class="table-responsive" th:if="${#lists.isEmpty(pendingGames)}">
                                        No pending games found.
                                    </div>
                                    <div class="table-responsive" th:if="${not #lists.isEmpty(pendingGames)}">
                                        <table class="table tablesorter">
                                            <tbody>
                                            <tr th:each="pendingGame : ${pendingGames}">
                                                <td>
                                                    <a th:href="@{|/my/url/${pendingGame.id}|}"
                                                       th:text="${pendingGame.name}">GAME 1</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img src="assets/img/ryan.jpg" class="img-center img-fluid rounded-circle">
                            <h4 class="title">Watch A Game</h4>
                        </div>
                        <div class="card-body">
                            <div class="tab-content tab-subcategories">
                                <div class="tab-pane active">
                                    <div class="table-responsive" th:if="${#lists.isEmpty(activeGames)}">
                                        No active games found.
                                    </div>
                                    <div class="table-responsive" th:if="${not #lists.isEmpty(activeGames)}">
                                        <table class="table tablesorter">
                                            <tbody>
                                            <tr th:each="active : ${activeGames}">
                                                <td>
                                                    <a th:href="@{|/my/url/${active.id}|}" th:text="${active.name}">GAME
                                                        1</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<div th:replace="fragments/js-scripts :: js-scripts"></div>
<script>
    $(document).ready(function () {

        // DO STUFF

    });
</script>
</body>

</html>